html {
  font-family: Lora, serif;
}

.masthead {
  background-color: #588477;
  background-image: url("../images/leaf-bg.svg");
  background-size: 64px;
  border-bottom: 3px solid #2d5a4d;
  border-top: 3px solid #2d5a4d;
  color: #fff;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  border: 3px solid #2d5a4d;
  border-radius: 8px;
}

.nav a:hover {
  color: #145b1b;
  background-color: #fff;
  background-image: url("../images/leaf-icon.svg");
  background-repeat: no-repeat;
  border-color: #145b1d;
  border-width: 8px;
}

.banner {
  color: #fff;
  background-image: linear-gradient(to bottom, transparent, rgba(16, 52, 41, 0), rgba(16, 52, 41, .8)), url("../images/banner.jpg");
  border-bottom: solid 3px #2d5a4d;
  background-position: bottom;
  background-size: cover;
}

.banner-content {
  background-image: url("../images/two-leaves.svg");
  background-repeat: no-repeat;
  background-position: left 42%;
  background-size: 100px;
  padding-top: 300px;

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
